*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  color: #333;
  background: #ffffff;
  line-height: 1.6;
  font-size: 18px; 
}

/* ===== Navigation ===== */
.navbar {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 25px 0;
  background-color: #fff;
}

.nav-container {
  max-width: 1100px; 
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.site-name {
  font-size: 22px;
  font-weight: 700;
  margin-right: 60px; 
  color: #000;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #666; /* 菜单原色 */
  font-weight: 600; 
  font-size: 19px; 
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #000; /* 悬停变黑 */
}

/* ===== Layout ===== */
.main {
  display: flex;
  max-width: 1100px; 
  margin: 0 auto;
  padding: 60px 40px;
  gap: 80px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.profile-pic {
  width: 180px;      
  height: 180px;     
  margin-bottom: 25px;
  overflow: hidden;  
  border-radius: 50%; 
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.profile-pic img {
  width: 100%;       
  height: 100%;
  object-fit: cover; 
}

.sidebar h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 700;
}

.sidebar p {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}


.sidebar-link {
  text-decoration: none; 
  color: inherit; 
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  text-decoration: underline; 
  color: #000; 
}

.body-link {
  text-decoration: underline; 
  color: #2980b9 ; 
}

.publish-link {
  text-decoration: none;
  color: #2980b9 ;
}

/* Content Area */
.content {
  flex: 1;
  min-width: 0;
}

.content h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 38px; 
  font-weight: 700;
}

.section {
  margin-bottom: 40px;
}


.pub-item {
  margin-bottom: 30px;
}

.pub-title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #2980b9;
  text-decoration: none;
  margin-bottom: 5px;
}

.pub-title:hover {
  text-decoration: underline;
}


@media (max-width: 850px) {
  .main, .nav-container {
    flex-direction: column;
    padding: 20px;
  }
  .nav-container { align-items: flex-start; }
  .site-name { margin-bottom: 15px; }
  .sidebar { width: 100%; text-align: center; }
  .profile-pic { margin: 0 auto 20px; }
}
